# d:\programacion\FocusFlow-API\.env.example

DB_HOST="Nombre del servidor de la base de datos"
DB_NAME="Nombre de la base de datos"
DB_USER="Nombre de usuario"
DB_PASS="Contraseña"
DB_PORT=3306

JWT_SECRET=generar_una_clave_aleatoria_larga
